[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
jupyter-server = "*"
ipython = {extras = ["all"], version = "*"}
ipykernel = "*"
yfinance = "*"
sqlalchemy = "*"
cufflinks = "*"
torch = "*"
arch = "*"
jupyter_contrib_nbextensions = "*"
jupyterlab = "*"
MiniSom = "==2.2.9"
networkx = "==3.0"
notebook = "*"
openpyxl = "*"
optuna = "==3.3.0"
plotnine = "*"
pyarrow = "*"
QuantStats = "==0.0.62"
scikit-learn = "==1.3.2"
tabulate = "*"
tensorboard = "*"
tensorflow = "*"
xgboost = "*"
xlrd = "*"
plotly = "==5.11.0"

[dev-packages]
pre-commit = "*"
python-decouple = "*"
flake8 = "*"
flake8-tabs = "*"
mypy = "*"
isort = "*"
black = {extras = ["jupyter"], version = "*"}
pdoc3 = "*"
mkdocs = "*"
